*{
    margin:0;

}
.header-left img{
    height: 40px;
}
.user-avatar{
    border-radius: 50%;
    width: 45px;
}
.header {
    text-align: center;
    padding: 15px, 20px;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,0,0.75);
    height: 80px;
}

.header-left {
    width:400px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}

.header-input{
    display:flex;
    align-items: center;
    background-color:#eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;

}
.header-input input{
    border: none;
    background-color:transparent;
    outline: 0;

}
.header-middle {
    width: 1120px;
    display:flex;
    flex:1;
    justify-content: center;
}
.header-option .material-icons{
    font-size: xx-large;
    color:gray;
}
.header-option:hover .material-icons
{
    color: #2e81f4;
}
.header-option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.header-option.active .material-icons{
    color: #2e81f4;
}
.header-option.active{
    border-bottom:4px solid #2e81f4;
}
.header-option:hover{
    background-color: #eff2f5;
    border-radius:10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.header-info{
    display:flex;
    align-items: center;

}
.header-info h4{
    margin-left: 10px;
}
.header-right{
    width:400px;
    display:flex;
    align-items: center;
}
.header-right .material-icons{
    color:gray;
    margin: 0 10px;
    cursor: pointer;
}

